<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <h3 class="my-4 mt-5">商品新規登録</h3>

      <%= form_with model: @item, url: admin_items_path, method: :post, local: true do |f| %>
       
       <table class="table table-borderless table-sm">
        <div class="field">
          <tr>
            <td><%= f.label :"商品画像" %></td>
            <td><%= f.file_field :item_image, accept: "image/*" %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <td><%= f.label :"商品名", class: "mr-3"%></td>
            <td><%= f.text_field :name %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <td><%= f.label :"商品説明", class: "mr-3" %></td>
            <td><%= f.text_area :introduction %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <td><%= f.label :"ジャンル" %></td>
            <td><%= f.collection_select :genre_id, Genre.all, :id, :name %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <td><%= f.label :"税抜価格", class: "mr-3" %></td>
            <td><%= f.text_field :price %>円</td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <td><%= f.label :"販売ステータス" %></td>
            <td><%= f.radio_button :is_active, true %></td>
            <td><%= f.label :is_active, "販売中", value: true %></td>
            <td><%= f.radio_button :is_active, false %></td>
            <td><%= f.label  :is_active, "販売停止中", value: false %></td>
          </tr>
        </div>

        <div class="actions">
          <td></td>
            <td><%= f.submit "新規登録",class: "btn btn-success px-5 mt-4" %></td>
        </div>
       </table>
　　　<% end %>
　　</div>
　</div>
</div>
