<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <h3 class="my-4 mt-5">商品新規登録</h3>


      <!--form_with記述-->
      <%= form_with model: @item, url: admin_items_path, method: :post, local: true do |f| %>

        <!--商品画像--><!--Q:画像選択のフォームがわからない-->
        <div class="field text-center mt-4">
          <%= f.label :"商品画像" %>
          <%= f.file_field :item_image, accept: "image/*" %>
        </div>

        <!--商品名-->
        <div class="field text-center mt-4">
          <%= f.label :"商品名", class: "mr-3"%>
          <%= f.text_field :name %>
        </div>

        <!--商品説明-->
        <div class="field text-center mt-4">
          <%= f.label :"商品説明", class: "mr-3" %>
          <%= f.text_area :introduction %>
        </div>

        <!--ジャンル--><!--Q:ジャンルを選択するフォームがわからない-->
        <div class="field text-center mt-4">
          <%= f.label :"ジャンル" %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name %>
        </div>

        <!--税抜価格-->
        <div class="field text-center mt-4">
          <%= f.label :"税抜価格", class: "mr-3" %>
          <%= f.text_field :price %>円
        </div>

        <!--販売ステータス--><!--Q:ステータスを選択するボタンがわからない-->
        <div class="field text-center mt-4">
          <%= f.label :"販売ステータス" %>
          <%= f.radio_button :is_active, true %>
          <%= f.label :is_active, "販売中", value: true %>
          <%= f.radio_button :is_active, false %>
          <%= f.label  :is_active, "販売停止中", value: false %>
        </div>

        <!--新規登録-->
        <div class="actions text-center mt-4">
          <!--<= f.submit "新規登録", class: 'btn btn-success' >-->
          <%= f.submit "新規登録",class: "btn btn-success px-5 mt-4" %>
        </div>
　　　<% end %>
　　</div>
　</div>
</div>
