<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <h3 class="my-4 mt-5"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h3>

      <%= form_with model: @customer,url: admin_customer_path, method: :patch, local:true do |f| %>
      <table class='table table-hover'>
    	  <th>会員ID</th>
    	  <th><%= @customer.id %></th>
            <tr class="form-group">
              <th><%= f.label :"氏名"%></th>
              <th><%= f.text_field :last_name,autofocus: true ,class: "form-control last_name" %></th>
              <th><%= f.text_field :first_name,autofocus: true ,class: "form-control first_name" %></th>
            </tr>
          <tr class="form-group">
            <th><%= f.label :"フリガナ"%></th>
            <th><%= f.text_field :last_name_kana,autofocus: true, class: "form-control last_name_kana" %></th>
            <th><%= f.text_field :first_name_kana,autofocus: true, class: "form-control first_name_kana" %></th>
          </tr>
          <tr class="form-group">
            <th><%= f.label :"郵便番号"%></th>
            <th><%= f.text_area :post_number,autofocus: true, class: "form-control customer.post_number" %></th>
          </tr>
          <tr class="form-group">
            <th><%= f.label :"住所"%></th>
            <th><%= f.text_area :address,autofocus: true, class: "form-control customer.address" %></th>
          </tr>
          <tr class="form-group">
            <th><%= f.label :"電話番号"%></th>
            <th><%= f.text_area :phone_number,autofocus: true, class: "form-control customer.phone_number" %></th>
          </tr>
          <tr class="form-group">
            <th><%= f.label :"メールアドレス"%></th>
            <th><%= f.email_field :email,autofocus: true, class: "form-control customer.email" %></th>
          </tr>
          <tr class="form-group">
            <th><%= f.label :"会員ステータス"%></th>
            <th>
              <%= f.radio_button :is_valid, '有効' %>
              <%= f.label :is_valid, '有効' %>
            </th>
            <th>
              <%= f.radio_button :is_valid, '退会' %>
              <%= f.label :is_valid, '退会' %>
            </th>
          </tr>
          <tr class="form-group">
            <th></th>
            <th><%= f.submit "変更する", class: 'btn btn-success' %></th>
          </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>