<div class="container">
  <div class="row">
    <h5 class="p-4"><span class="col-md-3 bg-light text-center m-4">配送先登録/一覧</span></h5>
  </div>

  <%= form_with model: @address, url: addresses_path, method: :post, local:true do |f| %>
    <table class="table-light table">
      <tr>
        <th>郵便番号(ハイフンなし)</th>
        <td> <%= f.text_field :post_number, placeholder: "0000000" %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td> <%= f.text_field :address, placeholder: "東京都渋⾕区代々⽊神園町0-0", :size =>"60" %></td>
      </tr>
      <tr>
        <th>宛名</th>
        <td><%= f.text_field :name, placeholder: "令和道⼦" %></td>
        <td><%= f.submit '新規登録', class:"btn btn-primary" %></td>
      </tr>
      </tbody>
    </table>
  <% end %>

  <table class="table-striped table table-hover">
    <thead class="thead-light">
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    <% @addresses.each do |address| %>
    <tr>
      <td><%= address.post_number %></td>
      <td><%= address.address %></td>
      <td><%= address.name %></td>
      <td><%= link_to '編集する', edit_address_path(address.id), class: "btn btn-success"  %>
      <%= link_to '削除する', address_path(address.id), method: :delete,  class: "btn btn-danger" %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>