<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-2'>
      <h3 class="my-4 mt-5">新規登録</h3>

      <%= form_with model: @customer, url: customer_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

    <table class="table table-borderless table-sm">
      <div class="field">
        <tr>
        <td><%= f.label :"名前" %></td>
        <td><%= f.label :"(姓)" %>
            <%= f.text_field :last_name %></td>
        <td><%= f.label :"(名)" %>
            <%= f.text_field :first_name %></td>
        </tr>
      </div>

      <div class="field">
        <tr>
        <td><%= f.label :"フリガナ" %></td>
        <td><%= f.label :"(ｾｲ)" %>
            <%= f.text_field :last_name_kana %></td>
        <td><%= f.label :"(ﾒｲ)" %>
            <%= f.text_field :first_name_kana %></td>
        </tr>
      </div>

      <div class="field">
        <tr>
        <td><%= f.label :"メールアドレス" %></td>
        <td><%= f.text_field :email %></td>
        </tr>
      </div>

      <div class="field">
        <tr>
        <td><%= f.label :"郵便番号(ハイフンなし)" %></td>
        <td><%= f.text_field :post_number %></td>
        </tr>
      </div>

      <div class="field">
        <tr>
        <td><%= f.label :"住所" %></td>
        <td><%= f.text_field :address, class: "w-100" %></td>
        </tr>
      </div>

      <div class="field">
        <tr>
        <td><%= f.label :"電話番号(ハイフンなし)" %></td>
        <td><%= f.text_field :phone_number %></td>
        </tr>
      </div>

      <div class="field">
        <tr>
        <td><%= f.label :"パスワード" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %></td>
        <td><%= f.password_field :password, autocomplete: "new-password" %></td>
        </tr>
      </div>

      <div class="field">
        <tr>
        <td><%= f.label :"パスワード(確認用)" %></td>
        <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
        </tr>
      </div>

      <div class="actions">
        <td></td>
        <td><%= f.submit "新規登録",class:"btn btn-primary px-5 mt-4" %></td>
      </div>
    </table>
  <% end %>

    <h4 class="text-right">既に登録済みの方</h4>
      <div class="text-right">
        <%= link_to "こちら", new_customer_session_path %>からログインしてください。
      </div>
    </div>
  </div>
</div>