<div class="container">
  <h3 class="my-4 mt-5">注文履歴詳細</h3>

  <div class="row">
    <div class = "col-md-8" >
      <table class="border table">
        <p class="text-center"><strong>注文情報</strong></p>
        <tr>
          <th class="border col-md-2" >注文日</th>
          <th><%= @order.created_at.strftime('%Y/%m/%d') %></th>
        </tr>
        <tr>
          <th class="border col-md-2">配送先</th>
          <th>
            〒<%= @order.post_number %>
            <%= @order.address %>
            <%= @order.name %>
          </th>
        </tr>
        <tr>
          <th class="border col-md-2">支払方法</th>
          <th><%= @order.payment_method %></th>
        </tr>
        <tr>
          <th class="border col-md-2">ステータス</th>
          <th><%= @order.order_status_i18n %></th>
        </tr>
      </table>
    </div>
    <div class = "col-md-3">
      <table class="border table">
        <p class="text-center"><strong>請求情報</strong></p>
        <tr>
          <th class = "border" >商品合計</th>
          <th><%= (@order.total_payment - 1000).to_s(:delimited) %></th>
        </tr>
        <tr>
          <th class = "border">送料</th>
          <th>1,000</th>
        </tr>
        <tr>
          <th class = "border" >ご請求額</th>
          <th><%= @order.total_payment.to_s(:delimited) %></th>
        </tr>
      </table>
    </div>
  </div>
  <p class="text-center"><strong>注文内容</strong></p>
  <div class= "row">
    <table class="border table">
      <thead class = "thead-light">
          <th class = "border col-md-6">商品</th>
          <th class = "border col-md-2">単価（税込）</th>
          <th class = "border col-md-2">個数</th>
          <th class = "border col-md-2">小計</th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_details.each do |order|%>
        <tr>
          <td class = "border">
            <%= order.item.name %>
          </td>
          <td class = "border">
            <%= order.price.to_s(:delimited) %>
          </td>
          <td class = "border">
            <%= order.quantity %>
          </td>
          <td class = "border">
            <%= (order.price * order.quantity).to_s(:delimited) %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>