<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
     
    <%= render "public/items/genre_search", genres: @genres %>
    </div>
    <div class="col-8 ml-2">
      <h3 class="mb-4">商品一覧(全<%= @items.all.count %>件)</h3>
      <div class="contents" style="display:flex; flex-wrap:wrap;">
        <% @items.each do |item| %>
          <div class="mr-4 mt-4">
            <%= link_to item_path(item) do %>
              <%= image_tag item.get_item_image, size:"200x120" %>
            <% end %>
            <p class="text-center"><strong><%= item.name %></strong></p>
            <p class="text-center"><strong>￥<%= item.with_tax_price.to_s(:delimited) %></strong></p>
          </div>
        <% end %>
      </div>
      <p class="text-center"><strong> <%= paginate @items %></strong></p>

    </div>
  </div>
</div>